.vscode/ 

# Virtual Env
pri_venv/**

# PYCACHE
__pycache__/**
src/pipeline/__pycache__/**
src/pipeline/cleaning/__pycache__/**
src/pipeline/combine/utils/__pycache__/**
src/pipeline/combine/__pycache__/**
src/pipeline/explore/utils/__pycache__/
src/pipeline/clean/__pycache__/

# DATA MS2
src/data/processed/**
src/data/explore/**
src/data/combine/**
src/data/raw/**
src/data/clean/**
src/data/documents/**

# DATA MS3
src/queries/evaluation_results/**
src/queries/statistics/**
src/data/search/*.csv
*.pyc
