.vscode/ 
src/data/raw/**
src/data/clean/**
scrapper_env/**

# PYCACHE
__pycache__/**
src/pipeline/__pycache__/**
src/pipeline/cleaning/__pycache__/**
src/pipeline/combine/utils/__pycache__/**
src/pipeline/combine/__pycache__/**

src/data/processed/**
