.vscode/ 

# PYCACHE
__pycache__
__pycache__/**
src/pipeline/__pycache__/**
src/pipeline/cleaning/__pycache__/**
src/pipeline/combine/utils/__pycache__/**
src/pipeline/combine/__pycache__/**
src/pipeline/explore/utils/__pycache__/
src/pipeline/clean/__pycache__/

# DATA
src/data/processed/**
src/data/explore/**
src/data/combine/**
src/data/raw/**
src/data/clean/**
src/data/documents/**

# Virtual Env
pri_venv/**
src/queries/precision_recall.pdf
src/queries/results.tex
src/queries/*

# New scrapping
server/data/clean/books.csv
server/data/clean/reviews.csv
server/data/search/books.csv
server/data/search/reviews.csv
server/data/raw/*.json

# Database
*.db